.PredictionContainer {
    padding: 12px 20px;
    background: #e6e6e6;
    min-height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .PredictionFormContainer {
        width: 50%;

        .PredictionFormHeading {
            margin-block-start: 0 !important;
        }

        .PredictionForm {
            padding: 10px 40px;

            .PredictedText {
                color: red;
                font-weight: 700;
                font-size: 14px;
            }
        }
    }

    .PredictionImageContainer {
        width: 50%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .PredictionImage {
            
        }
    }
}